@model IEnumerable<ReservationApp.Models.TypeReservation>

@{
    ViewData["Title"] = "Index";
}

<div class="container py-5">

    <p >
        <a class="text-info" asp-action="Create"><h2 class="text-center">Create new reservation tipe</h2></a>
    </p>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    Operations
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        <a class="btn btn-warning text-black-50 btn-sm" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-secondary text-white btn-sm" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-dark text-white btn-sm" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>